id: https://ibm.github.io/ran-ares-integration/ontology/ares_config
name: ares
version: 0.0.1
description:
  Vocabulary to integrate Ares workflow
default_curi_maps:
  - semweb_context
imports:
  - linkml:types
  - common
prefixes:
  linkml: https://w3id.org/linkml/
default_range: string

classes:
  ARESGoal:
    is_a: Entity
    description: Base ARES Goal. Specify the high-level attack intent, like provoking harmful responses on context-specific attack seeds.
    attributes:
      origin:
        description: local or remote
        range: string
        ifabsent: local
        required: true
      base_path:
        description: path to input file
        range: string
      output_path:
        description: filename to output of the processed goals
        range: string
        required: true
      goal:
        description: column name of the field in the input file to be used as source of goals
        range: string
      builder_kwargs:
        description: column name of the field in the input file to be used as source of labels.
        range: string
      task_kwargs:
        description: column name of the field in the input file to be used as source of labels.
        range: string
      base_kwargs:
        description: column name of the field in the input file to be used as source of labels.
        range: string
    slots:
      - type

  ARESStrategy:
    is_a: Entity
    description: >-
      Create attack payloads and run attacks for different threat models. The strategy used for red-teaming the language model and, in particular, for transforming the goal prompts saved in the previous step to adversarial attack prompts.
    attributes:
      input_path:
        description: The input path
        range: string
        required: true
      output_path:
        description: The output path
        range: string
        required: true
      jailbreaks_path:
        description: String describing the python type
        range: string
      probe:
        description: String describing the probe type
        range: string
      templates:
        description: String describing the python type
        range: string
    slots:
      - type

  AresEvaluator:
    is_a: Entity
    description: >-
      Assess success by analysing payloads and responses for safety, security, or robustness failures.
    attributes:
      output_path:
        description: The output path for the evaluation results
        range: string
        required: true
        ifabsent: results/evaluation.json
      sensitive_type:
        description: String describing the ARES evaluation type
        range: string
      exclude_prompt:
        description: The input path the path to dataset of attacks generated by strategy
        range: boolean
      debug_mode:
        description: The output path for the evaluation results
        range: boolean
      keyword_list_or_path:
        description: String describing the ARES evaluation type
        range: string
    slots:
      type

  AresIntent:
    is_a: Entity
    description: >-
      ARES uses intent to map and automatically run series of attacks.
    class_uri: schema:AresIntent
    attributes:
      goal:
        range: ARESGoal
        multivalued: false
        inlined: true
        required: true
      strategy:
        description: The path to the prompts file
        range: ARESStrategy
        multivalued: true
        inlined: true
        inlined_as_list: false
        required: true
      evaluation:
        description: The path to the prompts file
        range: AresEvaluator
        multivalued: false
        inlined: true
        required: true


  RedTeaming:
    is_a: Entity
    description: >-
      ARES red-teaming involves defining the selected intent and mapping out the path for input attack prompts.
    attributes:
      intent:
        description: intent name
        range: string
        required: true
      intent_config:
        description: intent configuration
        range: AresIntent
        inlined: true
        multivalued: true
        inlined_as_list: false
        required: true
      prompts:
        description: The path to the prompts file
        range: string
        required: true

  Connector:
    is_a: Entity
    description: >-
      The target large language model (LLM) for conducting the ARES red-teaming evaluation.
    attributes:
      seed:
        description: Seed to be applied to model, for example, 42.
        range: integer
      device:
        description: Device on which to load the model, for example, 'auto'.
        range: string
        ifabsent: auto
      model_configs:
        range: ModelConfig
        inlined: true
        required: true
      tokenizer_config:
        range: TokenizerConfig
        inlined: true
        required: true
      generate_kwargs:
        range: GenerateKwargs
        inlined: true
    slots:
      - type

  ModelConfig:
    attributes:
      torch_dtype:
        description: model_config
        range: string
    slots:
      - pretrained_model_name_or_path

  TokenizerConfig:
    attributes:
      padding_side:
        description:
    slots:
      - pretrained_model_name_or_path

  GenerateKwargs:
    attributes:
      chat_template:
        description:
        range: ChatTemplate
        inlined: true
      generate_params:
        description:
        range: GenerateParams
        inlined: true

  ChatTemplate:
    attributes:
      return_tensors:
        description:
        range: string
      thinking:
        description:
        range: boolean
      return_dict:
        description:
        range: boolean
      add_generation_prompt:
        description:
        range: boolean

  GenerateParams:
    attributes:
      max_new_tokens:
        description:
        range: integer

  ARESConfig:
    is_a: Entity
    description: >-
      ARES evaluation configuration for red-teaming.
    attributes:
      target:
        description: The path to the prompts file
        range: Connector
        multivalued: true
        inlined: true
        inlined_as_list: false
        required: true
      red_teaming:
        description: The path to the prompts file
        range: RedTeaming
        inlined: true
        required: true

slots:
  type:
    description: String describing the python type
    range: string
    required: true
  pretrained_model_name_or_path:
    description: pretrained_model_name_or_path
    range: string
    required: true
